.index-photo {
  width: 250px;
  height: 250px;
  margin-bottom: 20px;
}

.search-artist-index {
  margin-top: 20px;
  margin-bottom: 40px;
}

.artist-index-photos {
  margin-bottom: -20px;
  padding-bottom: 20px;
}

.container-artist-index {
  // margin-bottom: -28px;
  // margin-left: 92px;
  width: 1054px;
  margin: 0 auto;
}

