.container-messages {
  position: relative;
}

#artist-messages {
  position: absolute;
  left: 10px;
  top: 10px;

}

#user-messages {
  position: absolute;
  right: 10px;
  top: 10px;
}

#artist-messages2 {
  position: absolute;
  right: 10px;
  top: 10px;

}

#user-messages2 {
  position: absolute;
  left: 10px;
  top: 10px;
}

