.tattoo-show-photo {
  width: 400px;
  height: 400px;
  position: absolute;
  top: 155px;
  left: 313px;
}

.container-postion-relative {
  position: relative;
}

.tat-show-artist-info {
  display: flex;
  position: relative;
  left: 864px;
  top: 152px;
  border-bottom: 1px solid lightgray;
  padding-bottom: 24px;
  width: 420px;
}

.artist-name {
  margin-left: 32px;
  margin-top: 26px;

  a {
    color: black;
  }
}

#comment-box {
  display: flex;
  position: absolute;
  top: 515px;
  right: 231px;
}

.fa-comment-o {
  margin-right: 10px;
}

#comments{
  position: absolute;
  right: 426px;
  top: 277px;
}

li.comment-user {
  margin-right: 15px;
}

