<h1>Welcome <%= current_user.email %></h1>
<% if current_user && current_user.bookings.count > 0 %>
  <h3>Your upcoming appointments:</h3>
  <% current_user.bookings.each do |booking| %>
    <%= booking.artist.name %>
    <%= booking.start_time %>
  <% end %>
<% elsif current_user && current_user.bookings.count == 0 %>
<h3>You don't have any upcoming appointments</h3>
<%= link_to "Browse work", root_path %>
<% end %>
